/* CSS Reset */
* {
  
  margin: 0;
  padding-left: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
  display: flex;
  width: 100%;
  top:0px;
  align-items: center;
  position: sticky;
  z-index: 1;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  top: 0px;
  left: 0px;
}

/* Navigation Bar: Logo and image */
#logo {
  margin: 2px;
  width:5%;
  height: 15%;
}

.vertical-line {
  width: 2px;
  margin-left: 1%;
  height: 60px; /* Adjust the height as needed */
  background-color: #d2cbcb; /* Adjust the color as needed */
  margin-right: 10px; /* Adjust the spacing as needed */
}

.logo-text{
  font-family: Arial;
  font-size: large;
  width: 10%;
  color:  #d2cbcb;
}

#logo img {
  margin-left: 8px;
  height: 100%;
  width: 100%;
  margin: 5px;
}

/* Navigation Bar: List styling */
#navbar ul {
  display: flex;
  width: 80%;
}

#navbar ul li {
  list-style: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar ul li a {
  color: whitesmoke;
  display: block;
  padding: 3px 80px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background-color: whitesmoke;
}

/* Home Section */

#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
  height: 575px;
  top: 0px;
  left: 0px;
}

#home::before {
  content: "";
  background: url("../img/highway.jpg") no-repeat center center/cover; 
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  top: 0px;
  left: 0px;
}

#home h1 {
  color: white;
  text-align: center;
  margin-top: -1%;
  font-size: 80px;
  text-shadow: 3px 4px 5px rgb(209, 204, 204);
  /* font-family: "Inspiration", cursive; */
}

#home p {
  color: white;
  /* font-family: "Caveat", cursive; */
  /* font-family: 'Shippori Antique B1', sans-serif; */
  text-align: center;
  font-size: 2.5rem;
}

/* Service Section */

#join{
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#join .quote{
  width: 42%;
  padding: 2% 2% 0% 2%;
  background-image: url("../img/pic09.jpg");
  background-size: cover;
  background-position: center;
  margin: 2% 1%;
}

#join .hiring{
  width: 42%;
  /* height: 5%; */
  padding: 2% 2% 0% 2%;
  background-image: url("../img/pic09.jpg");
  background-size: cover;
  background-position: center;
  margin: 2% 1%;
}

#join p{
  margin-top: 1%;
}

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  font-size:large;
}

.button {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  margin-top: 9%;
}


.button-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.button-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.button-two:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.button-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.button-two:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

#services-container{
  background-color: transparent;
  position: relative;
}

#services {
  overflow-x:scroll;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

#services::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

#services .box {
  display: inline-block;
  /* box-shadow: 5px 3px 10px rgb(223 150 69 / 84%); */
  box-shadow: 5px 3px 10px rgba(146, 141, 137, 0.84);
  width: 25%;
  height: 400px;
  justify-content: center;
  padding: 2%;
  margin: 2px 6px;
  vertical-align: top;
  border-radius: 23px;
  background-color: transparent;
  margin-bottom: 2%;
}

 
#services .box img {
  height: 60%;
  display: flex;
  margin: auto;
  position: relative;
  left: -1em;
  top: 0;
  width: auto;
  margin-bottom: 3em;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #141313cd;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 1;
  opacity: 0.7;
}

.left {
  left: 10px;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.right {
  right: 10px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
} 

body {
  overflow-x: hidden;
}

#contact{
  padding-top: 2%;
  display: inline-block;
  color: #FFF;
  width: 100%;
  background-color:rgb(18 15 15 / 87%);
}

#contact h1{
  font-size: 2.3rem;
  padding: 12px;
  font-family: "Nanum Myeongjo", serif;
}

#connect{
  display: inline-block;
  font-size: 30px;
  justify-content: center;
}
#icon{
  padding-top: 1%;
display: flex;
justify-content: center; 
background: transparent;

}
#icon a{
padding:10px;

background: transparent;
}

#contact::before {
  content: "";
  margin-top: 2%;
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: -1;
  opacity: 0.7;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 55px;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  padding: 10px;
  font-size: 1.1rem;
  border: 3px solid rgba(126, 124, 122, 0.84);
  box-shadow: 5px 3px 3px rgba(146, 141, 137, 0.84);
  border-radius: 10px;
}

#contact-box form {
  width: 40%;
}
#contact-box label {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif;
}

.form-group{
  padding-bottom: 10px;
}

footer {
  background: black;
  color: white;
  padding: 9px 20px;
}

.greet{
  font-size: 29px;
  text-shadow: 6px 6px 6px black;
}

/* Utility Classes */
.h-primary {
  font-size: 2.3rem;
  padding: 12px;
  font-family: "Nanum Myeongjo", serif;
}
.h-secondary {
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.8rem;
  padding: 12px;
}

.btn {
  padding: 6px 20px;
  border: 2px solid rgb(34, 23, 23);
  background-color: rgb(238, 198, 198);
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(143, 64, 64);
  color: rgb(235, 223, 223);
  box-shadow: 5px 5px 6px rgb(180, 127, 111);
}

.center {
  text-align: center;
}

.wrap{
  word-wrap: break-word;
}
